<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460355980223-mg8i3rqoi166hg4pc0bodvd8q6l4ev0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460355980223-mg8i3rqoi166hg4pc0bodvd8q6l4ev0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQSh3rZ0oTrrY3E6EnG5HkYm2_vlV4YU</string>
	<key>GCM_SENDER_ID</key>
	<string>460355980223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashably</string>
	<key>PROJECT_ID</key>
	<string>cashably</string>
	<key>STORAGE_BUCKET</key>
	<string>cashably.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460355980223:ios:c4d8cf8799b898d8c46f0a</string>
</dict>
</plist>